.layout-container {
  @apply relative w-full py-[4%] flex overflow-hidden min-h-screen items-center justify-center gap-10 flex-col;
  .header-container {
    @apply z-30 fixed top-0 start-0 w-full max-w-full overflow-auto p-3 px-5 flex items-center justify-between gap-2 flex-row min-h-[50px] md:px-10   drop-shadow-2xl bg-max-transparent backdrop-blur-2xl;
    & > div {
      @apply min-w-fit;
    }
    & > div > a,
    & > div > button {
      @apply text-[.8rem] leading-[1rem] md:text-[1rem] flex items-center justify-center gap-3 whitespace-nowrap w-fit h-fit p-3 rounded-lg font-bold capitalize bg-gray-800 text-white hover:scale-105 active:scale-90;
      & > img {
        @apply w-[20px] h-[20px];
      }
    }
    .profile-btn {
      @apply w-fit h-fit rounded-full p-1 sm:p-3 sm:rounded-lg;
      & > img {
        @apply min-w-[35px] min-h-[35px] ring-0 sm:min-w-[30px] sm:min-h-[30px];
      }
    }
  }
  .footer-container {
    @apply bg-max-transparent   z-30 absolute start-0 bottom-0 min-w-full items-center justify-center gap-2 min-h-[100px] p-5 text-center flex-wrap md:px-10 drop-shadow-2xl    backdrop-blur-md;
  }
  .children-container {
    @apply container  relative  p-2 py-[25%] sm:py-[20%] md:py-10 flex items-start justify-start gap-2 flex-col min-h-screen w-full;
    & > form {
      @apply mx-auto mb-10 bg-gray-600 min-w-[90%] md:min-w-[400px] max-w-[400px] min-h-fit p-2 rounded-lg drop-shadow-2xl flex items-start justify-center gap-1 flex-col;
    }
  }
  .pagination-component {
    .MuiPagination-ul {
      @apply text-gray-300 flex items-center justify-center gap-2;

      & > li > button {
        color: #fff !important;
        @apply bg-gray-400 text-gray-300;
      }
    }
    .MuiPagination-text {
      @apply text-gray-300;
    }
  }
}
* {
  box-sizing: border-box;
  @apply outline-none m-0 p-0 transition-all font-atkinson font-light;
}
html {
  scroll-behavior: smooth !important;
}
